---
const { frontmatter } = Astro.props || {}
const { title } = frontmatter || Astro.props

import '../styles/_style.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta
      name="description"
      content="OpenFreeMap – Open-Source Map Hosting lets you display custom maps on your website and apps for free."
    />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" href="/favicon.ico" sizes="any" />

    <!--    <meta property="og:title" content="" />-->
    <!--    <meta property="og:type" content="" />-->
    <!--    <meta property="og:url" content="" />-->
    <!--    <meta property="og:image" content="" />-->

    <link href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css" rel="stylesheet" />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>

  <body>
    {
      frontmatter && (
        <div class="container">
          <slot />
        </div>
      )
    }
    {!frontmatter && <slot />}

    <div class="footer container">
      <a href="/privacy">Privacy Policy</a>
      <a href="/tos">Terms of Service</a>
    </div>
  </body>
</html>
