/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

/* normalize.css */

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* --- start --- */

body {
  padding-bottom: 100px;

  line-height: 1.5;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;

  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  font-weight: normal;

  color: #000;
}

.static,
h1,
h2,
h3,
h4,
h5,
h6,
.col-lbl,
p,
.button-container,
#support-plans-slider {
  margin-left: 40px;
  margin-right: 40px;
}

.static {
  max-width: 600px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.col-lbl {
  color: #333;
  max-width: 600px;
  margin: 1em auto 0.5em;
  line-height: 1.2;

  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro,
    sans-serif;
  font-weight: bold;
}

p a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 1px 0 #adc2ee;
  transition: box-shadow 200ms ease 0s;
}

p a:hover {
  box-shadow: 0 2px 0 #adc2ee;
}

strong {
  color: #333;
}

.logo {
  margin: 0 auto;
}

.icons {
  margin: 0 auto;
  width: 80px;
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

/*.subtitle {*/
/*  text-align: center;*/
/*  font-style: italic;*/
/*  color: #333;*/
/*  margin-top: 1em;*/
/*}*/

.footer {
  max-width: 600px;
  margin: 3em auto 0;
  display: flex;
  justify-content: space-evenly;
}

.footer a {
  color: #777;
  text-decoration: none;
}

p {
  max-width: 600px;
  margin: 0 auto 0.6em;
}

pre {
  background: #efefef;
  font-size: 14px !important;
  max-width: 600px;
  margin: 0 auto 0.6em !important;
  overflow: scroll;
  font-weight: bold;
}

code {
  font-family: 'Nimbus Mono PS', 'Courier New', monospace !important;
  background: #efefef;
}

#map-container {
  width: 100%;
  height: 500px;
  margin-bottom: 2em;
  position: relative;
}

#mapbg-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-image: url('mapbg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity 3s;
}

.mapbg-attrib {
  font:
    12px / 20px Helvetica Neue,
    Arial,
    Helvetica,
    sans-serif;
  background-color: hsla(0, 0%, 100%, 0.5);
  padding: 0 5px;
  bottom: 0;
  right: 0;
  position: absolute;
}

.mapbg-attrib a {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}

.mapbg-attrib a:hover {
  text-decoration: underline;
}

.btn {
  border: 0;
  border-radius: 0.25rem;
  background: #2f5f8b;
  color: white;
  font-size: 1rem;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.btn.selected {
  background: #4892d9;
}

.button-container {
  margin: 0 auto 0.6em;
  max-width: 600px;
  display: flex;
  flex-wrap: nowrap;
}

.btn:hover {
  background: #4892d9;
}
/*button:focus { }*/
/*button:active { }*/

.col-lbl {
  display: block;
  cursor: pointer;
  color: #333;
}

.col-chk {
  display: none;
}

.col-lbl:before {
  content: '►';
  margin-right: 1em;
  color: #555;
  font-size: 0.8em;
}

.col-cnt {
  display: none;
  margin: 1em 0 2em;
}

.col-chk:checked ~ .col-cnt {
  display: block;
}

.col-chk:checked ~ .col-lbl:before {
  content: '▼';
}

hr {
  border: 0;
  height: 1px;
  background-color: #555;
  margin: 2em 0;
}

#support-plans-slider {
  max-width: 600px;
  margin: 200px auto 150px;
}

@media (max-width: 550px) {
  #support-plans-slider {
    max-width: 98%;
    margin: 170px auto 120px;
  }
}

.noUi-connects {
  cursor: pointer;
}

.noUi-value {
  line-height: 0;
  margin-top: 32px;
  font-size: 30px;
  transition: font-size 0.3s ease;
  cursor: pointer;
}

.noUi-value.active {
  font-size: 45px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: 0;
  width: 1px;
}

.noUi-tooltip {
  border-color: #ccc;
  border-radius: 10px;
  padding: 10px;
}

.noUi-tooltip.first {
  left: 0;
  transform: unset;
}

.noUi-tooltip.last {
  right: 0;
  left: unset;
  transform: unset;
}

.plan-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.plan-link {
  display: block;
  text-decoration: none;

  color: white;
  font-weight: bold;
  letter-spacing: 0.05rem;
  font-size: 15px;

  border-radius: 20px;
  padding: 6px 16px;
  margin-top: 15px;

  background: linear-gradient(32deg, #03a9f4, transparent) #f441a5;
  transition: background-color 1s;
}

.plan-link:hover,
.plan-link:focus {
  background-color: #fdb900;
}

@media (max-width: 550px) {
  body {
    padding-bottom: 40px;
  }

  .static,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .col-lbl,
  p,
  .button-container,
  #support-plans-slider {
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }

  #map-container {
    height: 300px;
  }
}
