/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

/* normalize.css */

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* --- start --- */

body {
  padding: 0 40px 100px;

  line-height: 1.5;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;

  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  font-weight: normal;

  color: #000;
}

.static {
  max-width: 600px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.col-lbl {
  color: #555;
  max-width: 600px;
  margin: 1em auto 0.5em;
  line-height: 1.2;

  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro,
    sans-serif;
  font-weight: 700;
}

p a {
  color: #444;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0 1px 0 #007cd7;
  transition: box-shadow 200ms ease 0s;
}

a:hover {
  box-shadow: 0 2px 0 #007cd7;
}

.logo {
  margin: 0 auto;
}

h1 {
  text-align: center;
}

/*.subtitle {*/
/*  text-align: center;*/
/*  font-style: italic;*/
/*  color: #444;*/
/*  margin-top: 1em;*/
/*}*/

.footer {
  max-width: 600px;
  margin: 3em auto 0;
  display: flex;
  justify-content: space-evenly;
}

.footer a {
  color: #777;
  text-decoration: none;
}

p {
  max-width: 600px;
  margin: 0 auto 0.6em;
}

pre {
  background: #efefef;

  max-width: 800px;
  margin: 0 auto 0.6em !important;
  font-size: 14px;
}

code {
  font-family: 'Nimbus Mono PS', 'Courier New', monospace;
  font-weight: 400;
  background: #efefef;
}

#map {
  width: 100%;
  height: 500px;
  margin-bottom: 2em;
}

button {
  border: 0;
  border-radius: 0.25rem;
  background: #007cd7;
  color: white;
  font-family: -system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
}

/*button:hover { }*/
/*button:focus { }*/
/*button:active { }*/

.col-lbl {
  display: block;
  cursor: pointer;
}

.col-chk {
  display: none;
}

.col-lbl:before {
  content: '►';
  margin-right: 1em;
}

.col-cnt {
  display: none;
  margin: 1em 0 2em;
}

.col-chk:checked ~ .col-cnt {
  display: block;
}

.col-chk:checked ~ .col-lbl:before {
  content: '▼';
}

hr {
  border: 0;
  height: 1px;
  background-color: #555;
  margin: 2em 0;
}