# Leave it empty if you use SSH keys
SSH_PASSWD=

# Domain to server directly, without CloudFlare
DOMAIN_DIRECT=direct.openfreemap.org

# Domain via CloudFlare, using origin certificates
# Please put cf.key and cf.cert files in config/certs
DOMAIN_CF=tiles.openfreemap.org

# Skip the full planet download, useful for testing (true/false)
SKIP_PLANET=false
