.col-lbl {
  display: block;
  cursor: pointer;
  color: #333;
}

.col-chk {
  display: none;
}

.col-lbl:before {
  content: '►';
  margin-right: 1em;
  color: #555;
  font-size: 0.8em;
}

.col-cnt {
  display: none;
  margin: 1em 0 2em;
}

.col-chk:checked ~ .col-cnt {
  display: block;
}

.col-chk:checked ~ .col-lbl:before {
  content: '▼';
}
