#support-plans-slider {
  margin: 200px auto 150px;
}

@media (max-width: 550px) {
  #support-plans-slider {
    max-width: 98%;
    margin: 170px auto 120px;
  }
}

.plan-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.plan-link {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: 0.05rem;
  font-size: 15px;
  border-radius: 20px;
  padding: 6px 16px;
  margin-top: 15px;
  background: linear-gradient(32deg, #03a9f4, transparent) #f441a5;
  transition: background-color 1s;
}

.plan-link:hover,
.plan-link:focus {
  background-color: #fdb900;
}

/* noUI slider customizations */

.noUi-connects {
  cursor: pointer;
}

.noUi-value {
  line-height: 0;
  margin-top: 32px;
  font-size: 30px;
  transition: font-size 0.3s ease;
  cursor: pointer;
}

.noUi-value.active {
  font-size: 45px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: 0;
  width: 1px;
}

.noUi-tooltip {
  border-color: #ccc;
  border-radius: 10px;
  padding: 10px;
}

.noUi-tooltip.first {
  left: 0;
  transform: unset;
}

.noUi-tooltip.last {
  right: 0;
  left: unset;
  transform: unset;
}

