body {
  line-height: 1.5;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
  font-weight: normal;
  color: #000;
}

.container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  margin-top: 3em;
  margin-bottom: 0.5em;
  line-height: 1.2;
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro,
    sans-serif;
  font-weight: bold;
}

p,
ul,
pre {
  margin-bottom: 0.6em;
}

h1 {
  text-align: center;
  margin-top: 1em;
}

p {
  a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 1px 0 #adc2ee;
    transition: box-shadow 200ms ease 0s;

    &:hover {
      box-shadow: 0 2px 0 #adc2ee;
    }
  }
}

strong {
  color: #333;
}

pre {
  font-size: 14px;
  padding: 7px 14px;
}

code {
  font-size: 14px;
}

hr {
  border: 0;
  height: 1px;
  background-color: #555;
  margin: 2em 0;
}

.footer {
  margin-top: 6em;
  margin-bottom: 4em;
  display: flex;
  justify-content: space-evenly;

  a {
    color: #777;
    text-decoration: none;
  }
}

.logo {
  margin: 0 auto;
}

.icons {
  margin: 0 auto;
  width: 80px;
  display: flex;
  justify-content: space-between;
}

#style-url-pre {
  background: #efefef;
  padding: 14px;
  font-weight: bold;
  overflow-x: auto;
}

.quick-start-button {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: 0.05rem;
  font-size: 18px;
  border-radius: 20px;
  padding: 15px 0;
  margin: 2em auto 5em;
  width: 230px;
  text-align: center;
  background: linear-gradient(32deg, #0070a2, transparent) #59c15a;
  transition: background-color 1s;

  &:hover,
  &:focus {
    background-color: #dea31d;
  }

  &.pink {
    background: linear-gradient(32deg, #0070a2, transparent) #ed36a7;

    &:hover,
    &:focus {
      background-color: #dea31d;
    }
  }
}
