---
const { title } = Astro.props

import { Content as Pro } from '../content/donate/pro.md'
import { Content as Sponsor } from '../content/donate/sponsor.md'
---

<Sponsor />
<a class="quick-start-button pink" href="https://github.com/sponsors/hyperknot">Sponsor</a>
<Pro />
