---
import StyleUrlBug from './StyleUrlBug.astro'

const { showStyleURL } = Astro.props
---

<div id="map-container">
  <div id="mapbg-image">
    <div class="mapbg-attrib">
      <a href="https://openfreemap.org" target="_blank">OpenFreeMap</a>
      <a href="https://www.openmaptiles.org/" target="_blank">© OpenMapTiles</a> Data from
      <a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a>
    </div>
  </div>
</div>

<div class="button-container container">
  <button data-style="positron" class="btn">Positron</button>
  <button data-style="bright" class="btn">Bright</button>
  <button data-style="liberty" class="btn selected">Liberty</button>
  <button data-style="liberty-3d" class="btn">3D</button>
</div>

{showStyleURL && <StyleUrlBug />}

<script is:inline src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>
<script is:inline src="/scripts/map.js"></script>
