<p>Use the following style in a MapLibre map:</p>
<pre
  id="style-url-pre"><code id="style-url-code">https://tiles.openfreemap.org/styles/liberty</code></pre>

<style>
  #style-url-pre {
    background: #efefef;
    padding: 14px;
    font-weight: bold;
  }
</style>
