---
import { Content as Pricing } from '../content/pricing.md'
---

<h2>How can I donate or support this project?</h2>
<p>
  If this project helps you save on your map hosting costs, please subscribe to one of our support
  plans here:
</p>

<div id="support-plans-slider"></div>

<Pricing />

<!--<script src="support_plans.js"></script>-->
