---

---

<h2>How can I use it?</h2>
<!--<p>(Click below, it's interactive!)</p>-->

<div id="map-container">
  <div id="mapbg-image">
    <div class="mapbg-attrib">
      <a href="https://openfreemap.org" target="_blank">OpenFreeMap</a>
      <a href="https://www.openmaptiles.org/" target="_blank">© OpenMapTiles</a> Data from
      <a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a>
    </div>
  </div>
</div>

<div class="button-container">
  <button data-style="positron" class="btn">Positron</button>
  <button data-style="bright" class="btn">Bright</button>
  <button data-style="liberty" class="btn selected">Liberty</button>
  <button data-style="liberty-3d" class="btn">3D</button>
</div>

<p>
  Have a look at the default styles and read more about how to integrate it to your website or app
  here:
</p>

<p><a href="#">How to use OpenFreeMap</a></p>

<script is:inline src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>
<script is:inline src="/scripts/map.js"></script>
