---

---

<div id="map-container">
  <div id="mapbg-image">
    <div class="mapbg-attrib">
      <a href="https://openfreemap.org" target="_blank">OpenFreeMap</a>
      <a href="https://www.openmaptiles.org/" target="_blank">© OpenMapTiles</a> Data from
      <a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a>
    </div>
  </div>
</div>

<p>Choose a style:</p>
<div class="button-container">
  <button onclick="selectStyle(event, 'positron')" class="btn">Positron</button>
  <button onclick="selectStyle(event, 'bright')" class="btn">Bright</button>
  <button onclick="selectStyle(event, 'liberty')" class="btn selected">Liberty</button>
  <button onclick="selectStyle(event, 'liberty-3d')" class="btn">3D</button>
</div>

<p>Use the following style in a MapLibre map:</p>
<pre><code class="lang-uri" id="style-url-code">https://tiles.openfreemap.org/styles/liberty</code></pre>
