---
import Layout from '../layouts/Layout.astro'
import Map from '../components/Map.astro'
import Logo from '../components/Logo.astro'
import Donate from '../components/Donate.astro'

import { Content as WhatisText } from '../content/index/whatis.md'
import { Content as RestText } from '../content/index/rest.md'
---

<Layout title="OpenFreeMap">
  <Logo title="OpenFreeMap" />

  <WhatisText />

  <h2>How can I use it?</h2>
  <Map />
  <p>
    Have a look at the default styles and read more about how to integrate it to your website or app
    here:
  </p>
  <p><a href="/quick_start">Quick Start Guide</a></p>

  <Donate />
  <RestText />

  <!--<script src="https://unpkg.com/prismjs@1.29.0/components/prism-core.min.js"></script>-->
  <!--<script src="https://unpkg.com/prismjs@1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>-->
</Layout>
